/* extra styles / overrides to integrate with plone theme */

#portal-siteactions {
    display: inline-block;
    float: right;
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

#portal-siteactions li:first-child a {
    border-left: 0;
}

#portal-searchbox input {
    font-size: 100%;
}

h1 {
    margin: 0.3em 0;
}
.documentByLine {
    font-size: 85%;
}
.documentDescription {
    margin: 1em 0;
    font-weight: bold;
}

#portal-footer {
    background-color: transparent;
    font-size: 80%;
}

#portal-personaltools {
    float: right;
    margin: 0 20px;
}
#portal-personaltools dd {
    margin: 0;
    padding: 0;
}
