/* extra styles / overrides to integrate with plone theme */

#portal-siteactions {
    display: inline-block;
    float: right;
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

#portal-siteactions li:first-child a {
    border-left: 0;
}

#portal-searchbox input {
    font-size: 100%;
}

#content {
    font-size: 13px;
}
h1 {
    margin: 0.3em 0;
}
.documentByLine {
    font-size: 85%;
}
.documentDescription {
    margin: 1em 0;
    font-weight: bold;
}

#content a:link {
	color: #E06529;
}

#content a:link,
#content a:visited {
	color: #E06529 !important;
        text-decoration: underline;
        border-bottom: 0;
}
#content a:hover {
	color: #E06529 !important;
        text-decoration: none;
        border-bottom: 0;
}

#portal-footer {
    background-color: transparent;
    font-size: 80%;
}

/* div.twocols = leftcolumn */


.twocols .portletWrapper {
    width: 220px;
    float: right;
    clear: right;
}
.twocols .managePortletsLink {
    clear: both;
}
.twocols div.portletWrapper:first-child {
   float: left;
}

.twocols dl.portlet dt.portletHeader {
    color: #85C329;
    font-size: 167%;
    background-color: transparent;
}
.twocols dl.portlet dd {
	padding: 20px;
	background: url(images/img10.gif) no-repeat;
}


/* Sidebar = rightcolumn */

#portal-searchbox {
    width: 100%;
    height: 30px;
    padding-top: 10px;
}
#portal-searchbox form {
    float: right;
}
#portal-searchbox input.searchButton {
    margin: 0 5px 0 10px;
    color: #145997;
    font-weight: bold;
}
#portal-searchbox .searchSection {
    display: none;
}

#sidebar .portletWrapper {
    clear: right;
}
#sidebar a:hover {
        text-decoration: none;
}

#sidebar dl.portlet {
	background: #E6E6E6 url(images/img07.gif) no-repeat right bottom;
        font-size: 93%;
}
#sidebar dd {
	margin: 10px 20px;
	padding: 5px 0;
	border-bottom: 1px dotted #CDCDCD;

}
#sidebar dd.portletFooter {
    padding-bottom: 15px;
}

#sidebar dt.portletHeader {
	height: 30px;
	margin: 0;
	background: url(images/img06.gif) no-repeat;
	font-size: 100%;
	font-weight: bold;
	color: #145997;
}

#sidebar dl.portlet dt.portletHeader a {
	padding: 6px 0 0 10px;
	color: #85C329;

}
#sidebar dl.portlet dd.portletItem a,
#sidebar dl.portlet dd.portletFooter a {
        color: #E06529
        font-weight: bold;
        border: 0;
}

dl.portlet dd a:link,
dl.portlet dd a:visited,
#sidebar dl.portlet dd a:link,
#sidebar dl.portlet dd a:visited {
	color: #E06529 !important;
}
dl.portlet dd a:hover,
#sidebar dl.portlet dd a:hover {
    text-decoration: underline;
}

