/* extra styles / overrides to integrate with plone theme */

#portal-personaltools,
#portal-siteactions {
    display: inline-block;
    float: right;
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

#portal-siteactions li:first-child a {
    border-left: 0;
}

#portal-searchbox input {
    font-size: 100%;
}

#portal-footer {
    background-color: transparent;
    font-size: 80%;
}
